footer{
  padding-top:4.5rem;
  background-color: #561557;
  color:$white;
  text-align: center;
  .footer_logo{
    margin-bottom:2rem;
  }
 .addressInfo{
  font-size: 1.8rem;
  line-height: 30px;
  margin-bottom:2rem;
  opacity: 0.7;
  span{
    max-width: 520px;
    display: block;
    margin: 0 auto;
  }
 }
  .FooterBottom{
    border-top:1px solid #ccc;
    padding:1.5rem 0;
    color:#ccc;
    .row{
      >div{
        @media(max-width:991px){
          &:nth-child(2){
            display: none;
          }
        }
        @media(max-width:767px){
          text-align:center;
          &:first-child{
            margin-bottom:1rem;
          }
        }
      }
    }
    span{
      a{
        color:$white;
        font-weight:500; 
        transition: all 0.25s ease;
        &:hover{
          text-decoration:underline;
        } 
      }
    }
  }
   .follow_us {
      @include FlexCenter;
       animation-delay: 1.1s;
       font-weight:500;
      ul.SocialIcons{
        display: flex;
        align-items: center;
        padding-left:1rem;
        li{
          margin-right: 8px;
          &:last-child{
            margin-right: 0px;
          }
          a{
            @include FlexCenter;
            padding: 6px;
            border: 1px solid $white;
            border-radius: 50px;
            transition: 0.2s ease-in-out;
            svg{
              width: 15px;
              height: 15px;
              fill: $white;
              transition: transform 0.2s ease-in-out;
            }
            &:hover{
              border-color:#47214d;
              svg{
                fill: $white;
                transform:scale(1.1);
              }
            }
          }
        }
      }
    }
    .mobileOnly{
      margin-bottom:25px;
      @media(min-width:992px){
        display:none;
      }
    }
}

/*Download Report Form*/
  .reportWrapper{
   max-width:650px;
   width:100%;
   background-color:$white;
   padding:5rem 4rem 4.5rem;
   margin:0 auto;
   position: fixed;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   @media(max-width:767px){
    width:90%;
    padding:5rem 2rem;
    padding: 45px 20px 30px;
    position: absolute;
   }
   h2{
    font-size:2.4rem;
    margin-bottom: 2rem;
    @media(max-width:575px){
      font-size:2.2rem;
      margin-bottom:1.5rem;
    }
   }
   .formWrapper{
    form{
      input{
        @media(max-width: 575px){
          margin-bottom:1rem;
        }
        &:last-child{
          margin-top:1.5rem;
          margin-bottom:0;
        }
      }
      label.error{
        @media(max-width: 767px){
          margin-top:0;
        }
      }
    }
   }
  }
.mfp-close-btn-in .mfp-close{
  background-color:$base;
  color:$white;
}







