.HomeBanner{
  height:100vh;
  position: relative;
  @media(max-width:767px){
    height: calc(100vh - 75px);
  }
	.bannerWrapper{
        height:100%;
        .imgWrap{
            height:100%;
            img{
                width:100%;
                @media(max-width: 767px){
                    object-fit: cover;
                }
            }
        }
        &::before{
            content:'';
            position: absolute;
            left:0;
            top:0;
            width:100%;
            height:100%;
            mix-blend-mode:multiply;
            background-image:linear-gradient(121deg, $base, #3A233D);
        }
        .bannerContent{
            position: absolute;
            left:50%;
            top:50%;
            width:100%;
            transform: translate(-50%,-50%);
            text-align: center;
            img{
                @media(max-width:767px){
                    width:207px;
                    height:auto;
                }
            }
            h1{
                font-size: 4rem;
                color:$white;
                margin-top:4.5rem;
                @media(max-width:767px){
                    font-size:3.2rem;
                }
            }
        }
    }
    .scrollDown{
        position: absolute;
        right:3.5rem;
        bottom:3rem;
        cursor: pointer;
        width:25px;
        animation: scrollDown 1.5s linear infinite;
        transition: all 0.25s ease;
        svg{
            width:24px;
            height: 38px;
        }
        @media(max-width: 767px){
            left:50%;
        }
    }
    @keyframes scrollDown{
        0%{
            transform: translateY(0px);
            // margin:0;
        }
        50%{
            transform: translateY(15px);
        }
        100%{
            transform: translateY(0px);
        }
    }
}
