.Button{
	background-color: $base;
	color: $white;
	padding: 2.5rem 8rem;
	border:1px solid $base;
	display: inline-block;
	text-align: center;
	font-weight:500;
	text-transform: capitalize;
	font-family: $primaryFont;
	@include Ease(0.25s);
	&:hover{
		background-color:transparent;
		color: $white;
	}
	&.TransParentButton{
		background-color: transparent;
		color: $base;
		border: 1px solid $base;
		box-shadow: none;
		&:hover{
			background-color: $base;
			color: $white;
		}
	}
	&.FlexButton{
		display: flex;
		align-items: center;
		width: fit-content;
	}
}


