.ContentWithBackground{
	background:url('../img/tempimg/woman-holding-face-mask.jpg') no-repeat;
	background-size:cover;
	position: relative;
	color:$white;
	@media(max-width:767px){
		background-position: 75%;
	}
	.MainHeading{
		h2{
			color:$white;
			line-height: 1.5;
			span{
				display: block;
				font-weight:500;
			}
			@media(max-width:575px){
				font-size:2.4rem;
			}
		}
	}
	p{
		max-width:615px;
		span{
			font-weight:500;
		}
	}
	&.leftInfoRightButton{
		background:url('../img/tempimg/white-clean-toilet.png') no-repeat;
		background-size:cover;
		@media(max-width:991px){
			text-align: center;
		}
		&::before{
			content:'';
	        position: absolute;
	        left:0;
	        top:0;
	        width:100%;
	        height:100%;
			background:$base;
			mix-blend-mode: multiply;
			z-index:auto;
		}
		.MainHeading{
			padding: 0;
			h2{
				margin-bottom:0;
				font-weight:400;
				span{
					display: block;
					font-weight:700;
				}
			}
	    }
	    .text-right{
			a.Button{
				background-color:#47214D;
				border-color:#47214D;
				min-width:375px;
				&:hover{
					background-color:$base;
					border-color:$base;
					color:$white;
				}
			}
			@media(max-width:991px){
				text-align:center;
				margin-top:3rem;
				a.Button{
					background-color:$white;
					border-color:$white;
					color:$base;
					font-size:1.8rem;
					min-width: auto;
					padding:1.5rem 6rem;
					&:hover{
						background-color:#47214D;
						border-color:#47214D;
						color: $white;
					}
				}
			}
	    }
	}
}

