.formSection{
	background-color: #fef5ff;
	.MainHeading{
		padding-bottom: 5.5rem;
		h2{
			color:#593d5c;
			span{
				font-weight:400;
			}
		}
		@media(max-width:767px){
			padding-bottom:3.5rem;
		}
	}
	.ComingSoonWrap{
		background:url('../img/tempimg/light.png') no-repeat;
		height: 100%;
        background-size: 90% 100%;
        position: relative;
        display:flex;
        align-items: center;
        border-right:3px dotted $lightGrey;
        margin-right:15px;
        @media(max-width: 991px){
        	background:none;
        	border:none;
        	justify-content: center;
        	padding-bottom:5rem;
        	margin:0;
        }
        /*&::before{
        	content:'';
        	position: absolute;
        	left:50%;
        	top:0;
        	height:100%;
        	background:url('../img/tempimg/light.png') no-repeat center;
        	background-size: cover;
        }*/
			#timer {
			   display: flex;
			   >div{
			   	color:#2E0F33;
			   	font-size:5.4rem;
			   	text-align: center;
			   	border-right: 2px solid $lightGrey;
			   	padding:0 20px;
			   	@media(max-width:575px){
			   		font-size:3.6rem;
			   		padding:0 15px;
			   	}
			   	&:first-child{
			   		padding-left:0;
			   	}
			   	&:nth-child(2){
			   		border:none;
			   	}
			   }
			}
			span {
			  display: block;
			  text-transform:capitalize;
			  font-size: 1.4rem;
			  font-weight: 500;
			  opacity: 0.8;
			  margin-top:-10px;
			}
		}
		/*.formWrapper{
			
			padding-left: 2rem;
		}*/
    }
	