.contactform {
    input[type="text"],
    input[type="email"],
    textarea,input[type="number"],
    input[type="date"],input[type="time"],input[type="tel"],
    select {
        width: 100%;
        padding: 10px 10px 10px 0;
        transition: 0.2s all;
        margin-bottom: 3rem;
        border: none;
        background-color:transparent;
        border-radius: 0;
        -webkit-border-radius:0px;
        border-bottom: 1.5px solid $lightGrey;
        @media(max-width: 767px) {
            margin-top: 1rem;
            padding: 7px;
        }
        &:focus {
            outline: none;
            border-color: $base;
        }
        &::placeholder{
            color: $darkGrey;
            opacity: 0.5;
            font-size:16px;
            font-weight:500;
        }
        &.MBnone {
            margin-bottom: 0;
        }
    }
    label{
      color: $darkGrey;
      opacity: 0.5;
      font-size:16px;
      font-weight:500;  
      margin-bottom:1rem;
      display: block;
    }
    label.error,{
        margin-top: -23px;
        font-size: 16px;
        color: #dc3545;
        opacity: 1;
    }
    .error{
        &.FormMessage{
        font-size: 16px;
        color: #dc3545;
        margin-top:1rem;
        font-weight:500;
        }
    }
    .success{
       &.FormMessage {
        color: #28a745;
        margin-top: 1rem;
        font-weight:500;
        } 
    }
    
    textarea{
        border:1.5px solid $lightGrey;
        min-height:88px;
        padding:10px;
        @media(max-width: 767px){
            margin-top:0;
        }
    }
    [type=submit] {
        cursor: pointer;
        background-color:$base;
        border:1px solid $base;
        border-radius:30px;
        color:$white;
        padding: 1.5rem 7rem;
        font-size:1.6rem;
        font-weight:500;
        @include Ease(0.25s);
        &:hover{
            background-color:#47214d;
            border:1px solid #47214d;
        }
        @media(max-width: 767px) {
            padding: 1.4rem 6rem;
        }
    }
 
    input[type="date"],input[type="number"]{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        background: url('../img/chevron-down.svg') no-repeat right;
        background-size: 15px 10px;
        &:focus{
         background-image:none;
        }
    }
    input,select{
        -webkit-border-radius:0px;
        -webkit-appearance: none;
    }
}