.LeftSliderRightContent{
padding-bottom:0;
    .row{
	    >div{
	    	&:first-child{
	    	padding-right:0;
	        }
	        &:last-child{
	    	padding-left:0;
	        }
	        @media(max-width:767px){
	        	padding:0;
	        }
	        .sliderWrapper{
	        	background-color:rgba(254,245,255,1);
	        	height:100%;
		        .productSlider{ 
		          text-align: center;
		          padding:6rem 5rem 7rem;
		          @include FlexCenter;
		          margin-bottom: 0;
		          height:100%;
		          .productWrap{
		          	img{
		          		margin:0 auto;
		          	}
		          }
		          .slick-arrow{
		          	&.slick-prev{
		          		left:25px;
		          		@media(max-width: 991px){
		          			left:15px;
		          		}
		          		&::before{
		          		content:url('../img/slider_left_arrow.png');
		          		/*background:url('assets/img/slider_left_arrow.png') no-repeat;
		          		background-size:contain;
		          		width:18px;
		          		height: 36px;
		          		position: absolute;
		          		left:0;*/
		          	    }
		          	}
		          	&.slick-next{
		          		right:25px;
		          		@media(max-width: 991px){
		          			right:15px;		
		          		}
		          		&::before{
		          		content:url('../img/slider_right_arrow.png');
		          		/*background:url('assets/img/slider_left_arrow.png') no-repeat;
		          		background-size:contain;
		          		width:18px;
		          		height: 36px;
		          		position: absolute;
		          		left:0;*/
		          	    }
		          	}
		          }
		          .slick-dots{
		          	bottom:15px;
		          	left:0;
		          	li{
		          		button{
		          			border:1px solid #999;
		          			border-radius:50%;
		          			padding:0;
		          			height:13px;
		          			width:13px;
		          			&::before{
		          			  content:'';
                              background-color:$base;
                              width:12px;
                              height:12px;
                              border-radius: 50%;
                              font-size: initial;
						      left: 0;
						      line-height: normal;
						      opacity: 0;
		          			}
		          		}
		          		&.slick-active{
		          			button{
		          				&::before{
		          					opacity:1;
		          				}
		          			}
		          		}
		          	}
		          }
			    }
		    }
		    .contentWrap{
		    	background-color: $base;
		    	color:$white;
		    	height: 100%;
		    	.innerContent{
		    		padding:4rem 5rem 8.5rem;
			    	h3{
			    		color:$white;
			    		font-size: 4rem;
			    		margin-bottom: 3.6rem;
			    		span{
			    			font-weight: 500;
			    			display: block;
			    		}
			    		@media(min-width:768px) and (max-width:991px){
						    font-size:2.6rem;
						 }
			    	}
			    	p{
			    		max-width:400px;
			    	}
			    	@media(max-width:767px){
			    		padding:2.5rem 3rem;
			    		h3{
			    			font-size:3rem;
			    		}
			    	}
		        }
		    	a.Button{
	    		display: flex;
	    		justify-content: space-between;
	    		align-items: center;
	    		background-color:#47214D;
	    		padding: 3rem 4rem 3rem 5rem;
	    		@media(max-width: 767px){
	    			padding: 2rem 3rem 2rem 3rem;
	    		}
	    		span{
	    			transition: margin-right 0.25s ease-in-out;
	    		}
		    		&:hover{
		    			opacity:0.9;
		    			span{
		    			  &:last-child{
		    			  	display:inline-block;
		    			  	margin-right:-10px;
		    			  }
		    			}
		    		}
		        }
		    }
	    }
    }	
}