.LeftContentRightBoxes{
	position: relative;
	&::before{
		content: "";
	    position: absolute;
	    right: 0;
	    top: 48%;
	    transform: translateY(-50%);
	    width: 50%;
	    height: 60%;
	    z-index:-1;
	    background-color:$greySection;
	    @media(max-width:767px){
	    	bottom:0;
	    	top:initial;
	    	left:0;
	    	width:100%;
	    	height:55%;
	    	transform:none;
	    }
	    @media(max-width:480px){
	    	height:53%;
	    }
	}
	.contentWrap{
		@media(min-width:767px){
		max-width:370px;
	}
		h2{
			margin-bottom: 3.5rem;
			text-transform: capitalize;
		}
	}
	ul{
		display:flex;
		flex-wrap:wrap;
		margin:0 -15px;
		li{
			flex:0 0 50%;
			max-width:50%;
			padding:0 15px;
			margin-bottom:30px;
			.boxWrap{
			    box-shadow:0px 3px 20px rgba(0,0,0,0.1);
			    background-color:$white;
				padding:3.5rem;
				height: 100%;
				.svgWrap{
					background-color:$base;
					width:80px;
					height: 80px;
					border-radius:50%;
					@include FlexCenter;
					margin-bottom:2.5rem;
					svg{
						width:50px;
						height:50px;
					}
			    }
			    h3{
			    	margin-bottom: 1.5rem;
			    }
			    h3,h4{
			    	color:#230627;
			    }
			    p{
			    	line-height: 1.5;
			    }
		    }
		    &:first-child{
	    		.svgWrap{
	    			opacity: 0.8;
	    		}
		    }
		    &:nth-child(2){
	    		.svgWrap{
	    			opacity: 0.9;
	    		}
		    }
		    &:last-child{
	    		.svgWrap{
	    			opacity: 0.7;
	    		}
		    }
		}
		@media(max-width:767px){
			margin:0;
			li{
				padding:0;
				margin:0;
				.boxWrap{
					padding:2rem;
					box-shadow:none;
					.svgWrap{
						margin:0 auto 2rem;
					}
				}
			}
		}
	}
	hr{
		margin:3rem 0;
		@media(min-width: 768px){
		margin: 4.5rem 0;
		width:90%;
	    }
	}
}