.LeftContentRightImage{
	.MainHeading{
		h2{
			@media(min-width:786px){
			max-width:290px;
		   }
			span{
				color:#450E4D;
			}
		}
	}
	.contentWrap{
		background-color:$white;
		padding:4.5rem 6rem;
		border-bottom:14px solid $base;
		width: 120%;
	    position: relative;
	    z-index: 1;
	    @media(max-width:991px){
    	   padding: 2.5rem 3.5rem;
    	}
    	@media(max-width:767px){
    		width:100%;
    	}
	    
		h3{
			font-size:3.6rem;
			margin-bottom:3.6rem;
			@media(max-width:991px){
	    		font-size:2.6rem;
	    	}
		}
		p{
			&:last-of-type{
				margin-bottom:3.6rem;
			}
		}
		.btn-group{
			a{
				display: inline-block;
				color:$base;
				font-weight:700;
				margin-right:1.5rem;
				@include Ease(0.25s);
				
				&:hover{
					text-decoration:underline;
				}
				&:last-child{
					margin-right:0;
				}
				@media(max-width:480px){
					display:block;
					margin:0;
					font-size:1.8rem;
					&:first-child{
						margin-bottom:1rem;
					}
				}
			}
		}
	}
}