.RightImageLeftContent{
	position: relative;
	padding-bottom:0;
	@media(max-width:767px){
		&::before{
		content:'';
		position: absolute;
		left:0;
		bottom:0;
		width:100%;
		height:50%;
		background-color:$greySection;
	   }
	}
	h2{
		@media(min-width: 768px){
		max-width:390px;
	    }
	}
	p{
		&:first-of-type{
			margin-bottom:20px;
		}
	}
	h3{
		font-size: 3rem;
	}
	.pseudoWrap{
		position: relative;
		padding:20px;
		&::before{
			content:'';
            position: absolute;
            left:0;
            top:0;
            width:70%;
            height:70%;
            background-color:$base;
            z-index:-1;
		}
		img{
			width:100%;
		}
	}
	/*.achievmentNumbers{
		span{
			display: block;
			max-width:215px;
			line-height: 20px;
		}
    }*/
}
