.TopImageBottomContent{
	.SliderWrap{
		.singleSlider{
			padding:0 8px;
			img{
				margin-bottom:1rem;
				transition: all 0.3s ease-in-out;
				@media(max-width:480px){
					width:100%;
					height:250px;
				}
			}
			a{
				color:$darkGrey;
				transition: all 0.3s ease-in-out;
				display:block;
				overflow: hidden;
				p{
					&:last-of-type{
						margin-bottom:0;
					}
				}
				&:hover{
					color:$base;
					p{
						font-weight: 500;
					}
					img{
						transform:scale(1.05);
					}
				}
			}
		}
		.slick-arrow{
			background-color: $base;
		    width: 40px;
		    height: 40px;
		    top: -62px;
		    right: 15px;
		    left: auto;
		    z-index: 1;
		    @media(max-width:767px){
		    	top:-90px;
		    }
		     @media(max-width:575px){
		    	top:-115px;
		    }
		    &::before{
		    content: "";
		    width: 7px;
		    height: 12px;
		    background: url(../img/right_arrow_white.svg) no-repeat center;
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    transform: translate(-50%,-50%);
		    }
      	&.slick-prev{
      		margin-right:55px;
      		&::before{
      			transform: translate(-50%, -50%) rotate(180deg);
      		}
      	}
      }
    }
}