$base : #73457A;
$darkBase: #3A233D;
$offBase:#A64F9E;
$yellow: #EF8900;
$red: #CE1C28;
$black: #000;
$lightBlack: #191818;
$white: #fff;
$grey: #666666;
$darkGrey: #333333;
$lightGrey: #ccc;
$smokeWhite:#eee;
$lightgerGray: #707070;
$greySection: #f2eef3;
$lightPink: #FFF5EB;

$primaryFont:'DINPro', sans-serif;
$secondaryFont:'DINPro', sans-serif;
/*$secondaryFont: 'DIN Pro';*/
