
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


@font-face {
    font-family: 'DINPro';
    src: url("../fonts/DINProLight_300.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url("../fonts/DINPro_400.otf");
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'DINPro';
    src: url("../fonts/DINProMedium_500.otf");
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'DINPro';
    src: url("../fonts/DINProBold_700.otf");
    font-weight: 700;
    font-style: normal;
}