.Section {
	padding-top: 4rem;
	padding-bottom: 4rem;
	@media screen and (min-width: 768px) {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
	&.Continue {
		padding-bottom: 0;
	}
	&.InContinue {
		padding-top: 0;
	}
}

.SectionBottom{
	padding-bottom: 3rem;
	@media screen and (min-width: 768px) {
		padding-bottom: 5rem;
	}
}
.SectionTop{
	padding-top: 3rem;
	@media screen and (min-width: 768px) {
		padding-top: 5rem;
	}
}

.MediumContainer {
  @media (min-width: 1024px) {
		max-width: 1000px;
	}
}
.SmallContainer {
  @media (min-width: 992px) {
		max-width: 800px;
		margin: 0 auto;
	}
}
.CenteredContainer {
	margin-left: auto;
	margin-right: auto;
}
.InnerSectionPT {
	padding-top: 30px;
}
.InnerSectionPB {
	padding-bottom: 30px;
}
.InnerSectionMT {
	margin-top: 30px;
}
.InnerSectionMB {
	margin-bottom: 30px;
}



